.elements {
    max-width: 880px;
    min-height: 744px;
    margin: 0 auto 67px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    justify-items: center;
    }
    
    @media screen and (max-width: 650px) {
      .elements {
        margin: 0 auto 48px auto;
      }
    }